<!DOCTYPE html>
<html ng-app="catalogo">
	<head></head>
	<body ng-controller='ProductController'>

		<h1>Hello World, Mean Stack</h1>
		
		<ul>
			<li ng-repeat='product in products'>
				<a href="#" ng-click="showProduct(product)">{{product.name}}</a>
			</li>
		</ul>
		
		<div ng-if="productSelected">
			<dl>
				<dd>Name</dd>
				<dt>{{productSelected.name}}</dt>
				
				<dd>Category</dd>
				<dt>{{productSelected.category}}</dt>
			</dl>
			
			<a href="#" ng-click="deleteProduct(productSelected)">Delete Product {{productSelected.name}}</a>
			<a href="#" ng-click="editProduct(productSelected)">Edit Product {{productSelected.name}}</a>
		</div>
		
		<form ng-submit="sendProduct()">
			Name: <input ng-model="product.name">
			Category: <input ng-model="product.category">
			<input type="submit">
		</form>

		<script src='/javascripts/angular.js'></script>
		<script src='/javascripts/main.js'></script>
		<script src='/javascripts/ProductController.js'></script>
	</body>
</html>